<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Movimientos Formulario </title>
</head>
<body>

    <form action="AppGastos/movimientosFormulario/" method="POST">{% csrf_token %}
        
        <p>Fecha: <input type="text" name="fecha" placeholder="Fecha"></p>
        <p>Categoria: <input type="text" name="categoria" placeholder="Alimentos, Servicios, etc..."></p>
        <p>Importe: <input type="text" name="importe" placeholder="Gasto(-) o Ingreso(+)"></p>
        <p>Nota: <input type="text" name="nota" placeholder="Máximo 50 caracteres"></p>
        <p>Tipo de Movimiento: <input type="text" name="tipo_movimiento" placeholder="Efectivo o Cuenta"></p>

        <input type="submit" value="Crear">

    </form>
    
</body>
</html>